@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar-brand {
  padding-left: 7rem;
  font-weight: bold;
}

.navbar-nav {
  padding-right: 7rem;
}

.nav-link {
  margin-right: 2rem;
  color: #344563;
}

/* main page */
.main-page {
  padding: 12rem 0;
  background-color: gray;
}

.text-1 {
  font-weight: 700;
  font-size: 48px;
}

/* works */
.works {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 120px;
  padding: 120px 180px;
}

.card-img-left,
.card-img-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #fff;
  border-radius: 16px;
}

.card-body .tags {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  margin: 14px 0 20px 0;
  padding: 1rem 0;
}

.tags li {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: #3a4bea;
}

.client-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 1rem;
  padding: 1rem 0;
}

/* About me */
.col-md-5 h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.hr {
  margin: 20px 0;
}

.hr1 {
  border-bottom: 1px solid gray;
}

.hr2 {
  border-bottom: 1px solid gray;
}

.lang li {
  background-color: #f7f7f9;
  padding: 10px 20px;
}

.contact-me {
  background: #6070ff;
  border-top-left-radius: 80px;
  padding-bottom: 20px;
}

.contact-container {
  padding: 100px 0 0 0;
}

.lg-text-4 {
  color: #fff;
  font-size: 40px;
  font-weight: bolder;
  line-height: 48px;
  letter-spacing: 0.37px;
  margin: 0 20px 10px 20px;
  text-align: center;
}

.sm-text-3 {
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: #ebebff;
  margin: 0 320px 40px 320px;
}

.form {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: center;
}

.bg-image-2 {
  background-image: url("./assets/contact-form-background-shapes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid transparent;
}
